  html{
        overflow:hidden;
        background-image: url(07c4c5f2ea61dfddc4b28d7942075ec6.jpg);
         background-size: cover;
        background-repeat: no-repeat; 
        background-position: center top;
        background-attachment: fixed;     
    } 

    * {
        box-sizing: border-box;
    }

    #red {
        cursor: pointer;
        height: 200px;
        width: 200px;
        background-color: red;
        border-radius: 50px 15px 5px 30px;
    }

    #blue {
        cursor: pointer;
        height: 200px;
        width: 200px;
        background-color: blue;
        border-radius: 50px 15px 5px 30px;
    }

    #green {
        cursor: pointer;
        height: 200px;
        width: 200px;
        background-color: green;
        border-radius: 15px 50px 30px 5px;
    }

    #yellow {
        cursor: pointer;
        height: 200px;
        width: 200px;
        background-color: yellow;
        border-radius: 15px 50px 30px 5px;
    }


    .simonGame {
        max-width: 400px;
        margin: 0 auto;
        border-radius: 5px;
    }

    .simonGame-buttons {
        padding: 20px;
        display: grid;
        justify-content: center;
        grid-template: repeat(5, 1fr) / repeat(2, 1fr);
        grid-gap: 15px;
        border-radius: 15px 50px 30px 5px;
    }

    .opition {
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(4, 1fr);
        margin: 20px 20px;
        padding: 5px 5px;
        grid-gap: 1rem;
    }
    
    #strictModeButton{
        cursor: pointer;
    }

    #buttonStart{
        cursor:pointer;
    }