@media only screen and (min-width: 600px) {
  .contact__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #606d75;
    height: 20vh;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 2rem;
    color: white; }
    .contact__section .header__main {
      text-align: center;
      grid-column: 1/4; }
    .contact__section li {
      font-size: 2rem; } }

@media only screen and (max-width: 600px) {
  .contact__section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #606d75;
    height: 30vh;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 2rem;
    color: white;
    text-align: center; }
    .contact__section .header__main {
      text-align: center;
      grid-column: 1/4; }
    .contact__section li {
      font-size: 2rem; } }

.footer {
  text-align: center;
  background-color: white;
  height: 4vh; }
